<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript">
        function callOAuth2Flow() {
            url= 'https://accounts.google.com/o/oauth2/auth;
            cl
            window.open('https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=','',width=500,height=500, left = 0, top = 0);
        }
    </script>
</head>
<body>
<button value="login" onclick="callOAuth2Flow()">Login</button>
</body>
</html>